/********
Reset
********/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

/********
Header
********/

header {
    background-color: #FFFFFF ;
    height: 70px;
    
}

#logo {
    margin: 10px 20px ;
    width: 50px;

}

#title{
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
}
 /********
Display
********/

.display-in-block{
    display: inline-block;
}
