/********
Reset
********/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

/********
Header
********/

header {
    background-color: #FFFFFF ;
    height: 70px;
    
}

#logo {
    margin: 10px 20px ;
    width: 50px;

}

#title{
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
}
 /********
Display
********/

.display-in-block{
    display: inline-block;
}

 /********
Contenuti
********/

.container{
    max-width: 70%;
    margin: 0 auto;
}

body {
    background-color: #f6f8f9;
}
.task{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.text-task {
    font-weight: bold;
}
p {
    margin-bottom: 10px;
}
 /********
Box
********/

.box {
    margin-top: 40px ;
    width: 600px;
    height: 800px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 2px;
    padding-left: 50px;
}

.button-one {
    width: 70px;
    height: 25px;
    border: 0;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #14aaf5 ;
}

.button-two {
    width: 70px;
    height: 25px;
    border: 1px solid #c4cbd0 ;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 2px;
}

.circle-check {
    border: 1px solid #42ccb4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #42ccb4;
    text-align: center ;
    font-size: 15px;
}

.circle-cross {
    border: 1px solid #ff4242 ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ff4242;
    text-align: center ;
    font-size: 15px;
}

.box-task {
    width: 70px;
    height: 25px;
    border: 0;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF ;
    box-sizing: border-box;
}